@model BonustrackU8.Models.ViewModel.ListadoMisionConMisionSeleccionada;
@using Biblioteca;

@{
    ViewData["Title"] = "Home Page";
}

<form asp-controller="Home" asp-action="Index" method="post">
    <select name="Id">
        @{
            if (Model != null && Model.listado != null)
            {
                foreach (clsMision mision in Model.listado)
                {
                    @if (Model != null && Model.Id == mision.Id)
                    {
                        <option selected value="@Model.Id">@Model.Nombre</option>
                    }
                    else
                    {
                        <option value="@mision.Id">@mision.Nombre</option>
                    }
                }
            }
            
        }

    </select>

    <input type="submit" value="Ver detalles" />

</form>


@{
    if (Model != null && Model.Id!=0)
    {
        <h4>@Model.Nombre</h4>    
        <p>Detalles: @Model.Detalles</p>
        <p>Recompensa: @Model.Recompensa créditos</p>
    }
}


